<!-- <angular-editor formControlName="htmlContent" [config]="editorConfig"></angular-editor> -->
<!-- https://www.npmjs.com/package/@kolkov/angular-editor -->

<div class="container-fluid">
<div [formGroup]="emailForm">
  <div class="row">
    <div class="col-sm-6">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Enter Subject</label>
              <input type="text" formControlName="subject" class="form-control" id="exampleInputEmail1">
              
            </div>
            <div class="form-group">
                <label class="form-label">Enter list of emails below</label>
                Please enter list of emails seperated by comma <code>(For example: abcd@gmail.com,xyz@gmail.com)</code>
                <textarea formControlName="recipients"  class="form-control" id="exampleFormControlTextarea3" rows="13" aria-describedby="emailHelp"></textarea>
              </div>
            <button type="button"(click)="sendEmail()" class="btn btn-dark btn-lg">Send</button>
          
    </div>
    <div class="col-sm-6">
        <!-- <div class="row"></div> -->
        <label for="exampleInputEmail1" class="form-label">Write Email</label>
        <angular-editor formControlName="email_body" readonly [config]="editorConfig"></angular-editor>
        
        <!-- <div [innerHTML]="emailForm.get('email_body')?.value">
            <h2></h2>
           
        </div> -->
    </div>
    </div>
</div>
</div>



