<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- Template copied by Suhas from 'https://bootsnipp.com/snippets/7nk08'  and added form controls and logic -->
<div class="sidenav">
         <div class="login-main-text">
            <h2>Want to send Email in Bulk?<br></h2>
            <p>Register with us and enjoy unlimited access to Bulk Emailer</p>
         </div>
      </div>
      <!-- <div class="main">
         <div class="col-md-6 col-sm-12">
            <div class="login-form">
               <form [formGroup]="loginForm" (ngSubmit)="Validate(loginForm.get('email')?.value,loginForm.get('password')?.value)">
                  <div class="form-group">
                     <label>User Name</label>
                     <input type="text" formControlName="email" class="form-control" placeholder="User Name">
                  </div>
                  <div class="form-group">
                     <label>Password</label>
                     <input type="password" formControlName="password" class="form-control" placeholder="Password">
                  </div>
                  <button type="submit" class="btn btn-dark" >Login</button> 
               </form>
            </div>
         </div>
      </div> -->
      <div class="main">
        <!-- https://bbbootstrap.com/snippets/bootstrap-simple-tabbed-login-register-form-29443624 -->
        <div class="d-flex justify-content-center align-items-center mt-5">
            <div class="card">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist"> 
                    <li class="nav-item text-center"> <a class="nav-link active btl"  id="pills-home-tab" data-toggle="pill"  role="tab" aria-controls="pills-home" (click)="isLogin=!isLogin" aria-selected="isLogin">Login</a> </li>
                    <li class="nav-item text-center"> <a class="nav-link btr" id="pills-profile-tab" data-toggle="pill" role="tab" aria-controls="pills-profile" (click)="isLogin=!isLogin" aria-selected="!isLogin">Signup</a> </li>
                </ul>
                <form [formGroup]="loginForm">
                <div class="tab-content">
                    <div *ngIf="isLogin" class="tab-pane fade show active" aria-labelledby="pills-home-tab">
                        <div class="form px-4 pt-5">
                             <input type="text" formControlName="username" class="form-control" placeholder="Email or Phone">
                             <input type="text" formControlName="password" class="form-control" placeholder="Password">
                              <button class="btn btn-dark btn-block" (click)="login(loginForm.get('username')?.value,loginForm.get('password')?.value)">Login</button> 
                        </div>
                    </div>
                    <div *ngIf="!isLogin" class="tab-pane fade show active" aria-labelledby="pills-profile-tab">
                        <div class="form px-4"> 
                            <input type="text" formControlName="username" class="form-control" placeholder="Username"> 
                            <input type="text" formControlName="email" class="form-control" placeholder="Email"> 
                            <input type="password" formControlName="password" class="form-control" placeholder="Password">
                            <!-- <input type="text" formControlName="confirm_password" class="form-control" placeholder="Confirm Password"> 
                            <div *ngIf="showErr" style="color: red;">Password Not macthed</div> -->
                             <button class="btn btn-dark btn-block" (click)="registerUser()">Signup</button> </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
                
            </div>
        <!-- </div>
    </div> -->
