
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 80px;
}
.table td, .table th {
    font: -webkit-control;
}
.table {
    border: groove;
}